{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h3>{{ episode.title }}</h3>
    <h3>{{ episode.description }}</h3>
    <h3>{{ episode.image }} </h3>
    <h3>{{ episode.enclosureUrl }}</h3>

    <a href="{{ path('site')}}">View More Episodes</a>
{% endblock %}
