{% extends 'base.html.twig' %}

{% block header %}
    {% include 'site/_partials/header.html.twig' %}
{% endblock %}

{% block body %}
    {% for episode in episodes %}
        <article class="episode">
            <div class="episode__content">
                <div class="episode__header">
                    <h4 class="episode__title">
                        <a href="{{ path('episode', {id: episode.id}) }}">
                            {{ episode.title }}
                        </a>
                    </h4>
                    <div class="">
                        <small class="episode__datetime">{{ episode.publishedAt|date }}</small>
                        <small class="episode__number">Episode {{ episode.id }}</small>
                    </div>
                </div>
                <div class="episode__main">
                    <div class="episode__description">
                        <p class="episode__description-text">
                            {{ episode.description }}
                        </p>
                        <div class="episode__audio">
                            <audio controls src="{{ episode.enclosureUrl }}"></audio>
                            <div>
                                <a class="episode__download" href="{{ episode.enclosureUrl }}" download>Download MP3</a>
                            </div>
                        </div>
                    </div>
                    <div class="episode__image">
                        <img width="250" height="250" class="episode__image-img" src="{{ podcast.image }}">
                    </div>
                </div>

            </div>
        </article>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% include 'site/_partials/footer.html.twig' %}
{% endblock %}