{% extends 'base.html.twig' %}

{% block header %}
    <h1 class="header__title">{{ podcast.title }}</h1>
    <div class="header__subscription-buttons">
        <a href="{{ path('rss') }}"><i class="fas fa-rss-square"></i></a>
    </div>
    <p class="header__description">{{ podcast.description }}</p>
{% endblock %}

{% block body %}
    {% for episode in episodes %}
        <article class="episode">
            <div class="episode__image">
                <img src="{{ podcast.image }}">
            </div>
            <div class="episode__content">
            <span class="episode__header">
            <small class="episode__datetime">{{ episode.publishedAt|date }}</small>
            <small class="episode__number">Episode {{ episode.id }}</small>
            </span>
                <h3 class="episode__title">
                    <a href="{{ path('episode', {id: episode.id}) }}">
                        {{ episode.title }}
                    </a>
                </h3>
                <div class="episode__description">
                    <p class="episode__description-title">
                        {{ episode.description }}
                    </p>
                </div>
                <div class="episode__audio">
                    <audio controls src="{{ episode.enclosureUrl }}"></audio>
                </div>
                <a class="epsiode__download" href="{{ episode.enclosureUrl }}" download>Download MP3</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}

{% block footer %}
    <p>{{ podcast.author }}</p>
    <img src="{{ podcast.image }}"/>
    <p>{{ podcast.title }}</p>
    <small>2019 copyright {{ podcast.title }}</small>
{% endblock %}