{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h3>{{ podcast.title }}</h3>
    <h3>{{ podcast.description }}</h3>
    <h3>{{ podcast.image }} </h3>

    {% for episode in podcast.episodes %}
        <p><a href="{{ path('site_episode', {slug: episode.slug}) }}">{{ episode.title }}</a></p>
        <p>{{ episode.description }}</p>
        {% if loop.first %}
            <small><a href="/download">Download</a></small>
        {% endif %}
    {% endfor %}
{% endblock %}
