{% extends 'site/layout.html.twig' %}

{% block title %}Hello{% endblock %}

{% block header %}
    <div class="header">
            <div class="header__information">
                <h1 class="header__information-title">{{ podcast.title }}</h1>
                <h3 class="header__information-description">{{ podcast.description }}</h3>
            </div>
    </div>
{% endblock %}
{% block body %}
    <section class="episodes-list">
        <aside class="controls">
            <a class="controls--rss" href="{{ path('subscribe') }}"></a>
            {% for setting in settings %}
                {% if (setting.name == 'facebook' or setting.name == 'twitter') and setting.value != '' %}
                    <a class="controls--{{ setting.name }}" href={{ setting.value }}></a>
                {% endif %}
            {% endfor %}
        </aside>
        {% for episode in podcast.episodes %}
            <article class="single-episode">
                <div class="single-episode-container">
                    <div class="single-episode-row">
                        <div class="single-episode__information">
                            <h4><a class="single-episode__information-link" href="{{ path('site_episode', {slug: episode.slug}) }}">#{{ episode.id }} {{ episode.title}}</a></h4>
                            <p class="single-episode__information-description">

                                {% if app.request.get('_route')  != 'site_episode' %}
                                    {{ cutParagraph(episode.description, 3) }}
                                {% else %}
                                    {{ episode.description }}
                                {% endif %}
                            </p>

                                <div class="single-episode__audio">
                                    <small class="single-episode__audio-download"><a class="single-episode__audio-link" href="{{ path('download', {slug: episode.slug}) }}">Download</a></small>
                                </div>

                        </div>

                    </div>
                </div>
            </article>

            {% else %}
            <p>No episodes found :(, run the below comand to create your first episode</p>
            <pre>$ php bin/console episode:create --title=helloworld --description="welcome to my first episode" --slug=/some_uri --image=some_time --enclosure=some_mp3</pre>
    {% endfor %}

        {% if app.request.get('_route') == 'site' %}
            <div class="view-more">
                <a href="{{ path('site_all') }}">View All Episodes</a>
            </div>
            {% elseif app.request.get('_route') == 'site_episode' %}
                <div class="view-more">
                    <a href="{{ path('site') }}">View More Episodes</a>
                </div>
        {% endif %}

    </section>
{% endblock %}
