{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="title">
        <h3>Podcast Management</h3>
    </div>
    <div class="form-container">
        <div class="podcast-form">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="podcast-img-upload">
            {% if episode.enclosureUrl %}
                <audio class="audio" src="/{{ episode.enclosureUrl }}" controls></audio>
            {% endif %}
            {{ form_start(enclosureUrlUpload, {'action' : path('admin_episode.fileupload.save', {id: episode.id})}) }}
            {{ form_widget(enclosureUrlUpload) }}
            {{ form_end(enclosureUrlUpload) }}
        </div>

        </div>
{% endblock %}
